body {
    background-color: #CAD2C5;
}

/* to change the color of my links */
a {
    color: #354F52;
}


/*this is for my links to highlight whenever a mouse is touching it*/
a:hover {
    color: blueviolet;
}

/* for my menu */
.navbar {
    color: black;
    background-color: #A3A380;
    border-radius: 50px;
}

/*for spaces in between my menu*/
.navbar a {
    padding-left: 10%;
    font-size: x-large;
}

/*to add background to my header*/
#heading {
    background-image: url(/SRC/Image/myhero.jfif);
    height: auto;
}

/*image*/
.image {
    position: relative;
    left: 25%;
    margin-top: 10px;
}

/*my name*/
.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #CAD2C5;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
    border-radius: 30px;
    position: relative;
    left: 50%;
    bottom: 68%;
    font-size: 50px;
}


/*software developer student*/
.career {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #84A98C;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    font-size: 35px;
    position: relative;
    left: 760px;
    bottom: 39px;
}

/*for my introduction id, which is the part I tell the person viewing my resume about myself*/
.myself {
    color: black;
    padding-top: 5px;
    font-size: larger;
}

/*this is to change my whole introductory font-family including the heading*/
.introduction {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #52796F;
}

/*this is my grid code*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*matric*/
.grid-item1 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
    
}

/*college*/
.grid-item2 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;

}

/*experience*/
.grid-item3 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}

/*skills*/
.grid-item4 {
    border-style: double;
    padding-left: 4%;
    grid-template-rows: 450px;
    background-color: #52796F;
}

/*to highlight my topics and give them a circular edge shape*/
h2 {
    background-color: #A3A380;
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
}


/*to put my images next to their designated texts*/
.images {
    display: flex;

}

.grid-container2 {
    display: grid;
    grid-row-gap: 5px;

}

.contacts {
    border-style: double;
    font-size: larger;
    padding-left: 2%;
    background-color: #84A98C;
}

.form {
    border-style: double;
    padding-left: 1%;
}



/*media queries*/
/*mobile device*/
@media only screen and (max-width: 600px) {

    /*heading*/
    .navbar a {
        padding-left: 6%;
        font-size: small;
    }

    .images {
        position: relative;
        left: 1%;
        margin-top: 10px;
    }

    .name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #CAD2C5;
        width: fit-content;
        height: fit-content;
        margin-top: 1%;
        border-radius: 30px;
        position: relative;
        left: 50%;
        bottom: 68%;
        font-size: 30px;
    }
    .career {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        background-color: #84A98C;
        height: fit-content;
        width: fit-content;
        border-radius: 30px;
        font-size: 22px;
        position: relative;
        left: 240px;
        bottom: 23px;
    }
    /*about me*/
    .myself {
        color: black;
        padding-top: 5px;
        font-size: small;
    }
    /*grid*/
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 350px;
        grid-gap: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.grid-item1 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}


.grid-item2 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item3 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item4 {
    border-style: double;
    padding-left: 4%;
    grid-template-rows: 450px;
    background-color: #52796F;
}

.contacts {
    border-style: double;
    font-size: small;
    padding-left: 2%;
    background-color: #84A98C;
}
    
}


/*for tablet*/
@media only screen and (min-width:601px) and (max-width:1024px) {
     /*heading*/
     .navbar a {
        padding-left: 3%;
        font-size:medium;
    }
    
    .images {
        position: relative;
        left: 1%;
        margin-top: 10px;
    }

    .name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #CAD2C5;
        width: fit-content;
        height: fit-content;
        margin-top: 1%;
        border-radius: 30px;
        position: relative;
        left: 50%;
        bottom: 68%;
        font-size: 45px;
    }
    .career {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        background-color: #84A98C;
        height: fit-content;
        width: fit-content;
        border-radius: 30px;
        font-size: 32px;
        position: relative;
        left: 401px;
        bottom: 33px;
    }
    /*about me*/
    .myself {
        color: black;
        padding-top: 5px;
        font-size:medium;
    }
    /*grid*/
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-gap: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.grid-item1 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}


.grid-item2 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item3 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item4 {
    border-style: double;
    padding-left: 4%;
    grid-template-rows: 450px;
    background-color: #52796F;
}

.contacts {
    border-style: double;
    font-size:medium;
    padding-left: 2%;
    background-color: #84A98C;
}
}  


/*for laptop*/
@media only screen and (min-width:1024px) {
     /*heading*/
     .navbar a {
        padding-left: 7%;
        font-size:x-large;
    }
    
    .images {
        position: relative;
        left: 1%;
        margin-top: 10px;
    }

    .name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #CAD2C5;
        width: fit-content;
        height: fit-content;
        margin-top: 1%;
        border-radius: 30px;
        position: relative;
        left: 50%;
        bottom: 68%;
        font-size: 58px;
    }
    .career {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        background-color: #84A98C;
        height: fit-content;
        width: fit-content;
        border-radius: 30px;
        font-size: 43px;
        position: relative;
        left: 740px;
        bottom: 45px;
    }
    /*about me*/
    .myself {
        color: black;
        padding-top: 5px;
        font-size:x-large;
    }
    /*grid*/
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-gap: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.grid-item1 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}


.grid-item2 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item3 {
    border-style: double;
    padding-left: 4%;
    background-color: #52796F;
}
.grid-item4 {
    border-style: double;
    padding-left: 4%;
    grid-template-rows: 450px;
    background-color: #52796F;
}

.contacts {
    border-style: double;
    font-size:larger;
    padding-left: 2%;
    background-color: #84A98C;
}
}